.bottom {
    background-image: url("src/components/TodaySpecial/Images/BottomImg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba($color: #000000, $alpha: 0.65);
    background-blend-mode: darken;
}

.top img {
    width: 100%;
    height: 100%;
    object-position: center;
}

.service{
    display: flex;
    flex-wrap: wrap;
}

.serviceCard {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    max-width: 320px; 
    padding: 20px;
    margin: 180px 60px 50px;    
        
  
    .num {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color: rgb(220, 180, 114);
    }
  
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color: white;
    }
  
    .description {
      font-size: 18px; 
      margin-bottom: 20px;
      color: white;
    }

    .arrow{
      width: 30px;
  }
  
}

.specialCard {
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  border: 4px solid #f6be61;
  width: 400px;
  transition: transform 0.3s ease-in-out;
  margin-top: 192px;
}

.specialCard:hover {
  transform: scale(1.05);
}

.carouselCard{
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  border: 4px solid #f6be61;
  width: 330px;
  transition: transform 0.3s ease-in-out;
}



.carouselCard:hover{
  transform: scale(1.05);
}

.carousel button{
  color: #f6be61;
}

.menuDesc {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-bottom-left-radius: 4.5px;
  border-bottom-right-radius: 4.5px;
  margin-top: 160px;

  .rating{
  display: flex;
  align-items: center;
  margin-left: 25px;
  }

  .ratingNum{
  font-size: 20px;
  }

  .rating img{
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
  }

  .specialDesc{
  width: 270px;
  margin: 5px 10px 10px 10px;

    .title{
    font-size: 18px;
    }

    .description
    {
      font-size: 10px;
    }  
  }
}

@media(max-width: 1280px) {
  .specialCard {
    width: 350px;
    margin-top: 170px;
  }

  .menuDesc{
    margin-top: 120px;
  }
}
  
@media(max-width: 1024px) {

  .service {
      display: flex;
      flex-wrap: wrap; /* Ensure the items are in a single row */
      width: 100%; /* Set a specific width */
      justify-content: center;
      margin-top: 120px;
      margin-bottom: 30px;
  }

  .serviceCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left; /* Center the content horizontally */
      max-width: 250px;
      padding: 0px;
      margin: 24px; /* Add margin for spacing between cards */

      .num {
          font-size: 14px; /* Adjust the font size */
          font-weight: bold;
          margin-bottom: 5px; /* Adjust the margin */
          color: rgb(220, 180, 114);
      }

      .title {
          font-size: 16px; /* Adjust the font size */
          font-weight: bold;
          margin-bottom: 5px; /* Adjust the margin */
          color: white;
      }

      .description {
          font-size: 10px; /* Adjust the font size */
          margin-bottom: 10px; /* Adjust the margin */
          color: white;
      }

      .arrow {
          width: 20px; /* Adjust the arrow size */
        
      }
  }

  .specialCard {
    width: 300px;
    margin-top: 130px;
  }

  .menuDesc{
    margin-top: 120px;

    .rating{
      margin-left: 5px;
      margin-right: 5px;
      }

      .specialDesc{
        width: 220px;
        margin: 5px 7px 5px 5px;
      }
  }
}

@media(max-width: 950px) {
  .carousel{
    margin-top: 72px;
  }

  .menuDesc{
    margin-top: 120px;

    .rating{
      margin-left: 5px;
      margin-right: 5px;
      }

      .specialDesc{
        width: 240px;
        margin: 5px 7px 5px 5px;
      }
  }
}

@media (max-width: 800px) {
  .service{
    margin-left: 20px;
  }

  .serviceCard{
    width: 200px;
  }
}

@media (max-width: 768px){
  .carousel{
    margin-top: 65px;
  }
  .menuDesc{
    margin-top: 100px;

  }
}

@media (max-width: 600px){
  .carousel{
    margin-top: 50px;
  }

  .carouselCard{
    width: 280px;
  }

  .menuDesc{
    margin-top: 80px;

    .specialDesc{
      .title{
        font-size: 14px;
      }

      .description{
        font-size: 10px;
      }     
    }

    .rating{
      margin-right: 10px;
    }
    .ratingNum{
      font-size: 16px;
    }

    .rating img{
      width: 15px;
    }
  }
}

@media (max-width: 450px){
  .carousel{
    margin-top: 30px;
  }

  .carouselCard{
    width: 250px;
  }

  .menuDesc{
    margin-top: 60px;

    .rating{
      margin-right: 15px;
    }
  }

}

@media (max-width: 400px){
  .carousel{
    margin-top: 30px;
  }

  .carouselCard{
    width: 230px;
  }

  .menuDesc{
    margin-top: 40px;
  }
}