@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.hide {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 5;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.header-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 5;
  padding: 10px;
  background-color: #232323;
  transition: 0.6s;
}

.header-bg img {
  height: 56px;
  width: 56px;
  margin-left: 65px;
}

.header img {
  height: 56px;
  width: 56px;
  margin-left: 65px;
}

.nav-menu .tombol {
  display: none;
}

.logo {
  margin-left: 50px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  /* flex: 20%; */
  /* align-items: center; */
  margin-right: 125px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.nav-menu .reserva {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-left: 40px;
  background-color: #f2c476;
  border-radius: 10px;
  padding: 10px 25px;
  color: #674817;
  transition: 0.8s;
  border: 1px solid #f2c476;
}

.nav-menu .reserva:hover {
  background: rgba(242, 196, 118, 0.1);
  border: 1px solid #f2c476;
  color: #f2c476;
  transition: 0.8s;
}

.nav-menu .common {
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 40px;
  position: relative;
  cursor: pointer;
}

.nav-menu .common:after {
  content: "";
  position: absolute;
  background-color: #f2c476;
  height: 3px;
  width: 0;
  left: 25%;
  bottom: -3px;
  transition: 0.3s;
}

.nav-menu .common:hover {
  color: #f2c476;
}

.nav-menu .common:hover:after {
  width: 50%;
}

.listMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  right: 316px;
  top: 76px;
  font-size: 14px;
  color: #ffffff;
  width: 140px;
  height: 140px;
  margin-right: -20px;
  justify-content: center;
  transition: 0.5s ease-in-out;
  background-color: #232323;
  border-radius: 5px;
  letter-spacing: 0.8px;
}

.listMenu-bg {
  letter-spacing: 0.8px;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  right: 316px;
  top: 76px;
  font-size: 14px;
  color: #ffffff;
  background-color: #232323;
  width: 140px;
  height: 140px;
  margin-right: -20px;
  justify-content: center;
  margin-top: 5px;
  transition: 0.6s;
  border-radius: 5px;
}

.subListMenu {
  margin-bottom: 9px;
  margin-left: 20px;
  cursor: pointer;
}

.subListMenu:hover {
  color: #f2c476;
}

@media only screen and (max-width: 1024px) {
  .nav-menu {
    font-size: 14px;
  }

  .listMenu,
  .listMenu-bg {
    font-size: 12px;
    margin-right: -55px;
  }
}

@media only screen and (max-width: 769px) {
  .logo {
    margin-left: -15px;
  }

  .img-res-nav {
    color: #f2c476;
    width: 30px;
    height: 30px;
    padding: 3px;
    transition: ease-in-out 0.3s;
  }

  .img-res-nav:hover {
    background-color: #f2c476;
    color: #674817;
    border-radius: 5px;
    transition: 0.6ms;
    transition: ease-in-out 0.3s;
  }

  .header {
    background-color: #232323;
  }

  .header-bg .res-nav,
  .header .res-nav {
    background-color: #232323;
    width: 100vw;
  }

  .nav-menu .tombol {
    display: flex;
    position: absolute;
    top: 12.5px;
    right: 30px;
    bottom: 60px;
  }

  .tombol {
    padding: 10px;
  }

  .res-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 60px;
    right: 0px;
    padding-top: 5px;
    padding-right: 35px;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
    width: 100vw;
    cursor: pointer;
  }

  .nav-menu .active,
  .nav-menu .r-active {
    color: #ffffff;
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 8px;
  }

  .nav-menu .active:hover,
  .nav-menu .r-active:hover {
    color: #f2c476;
  }

  .nav-menu .common,
  .nav-menu .reserva {
    display: none;
  }

  .listActive {
    padding-bottom: 99px;
  }

  .active-ListMenu:hover {
    color: #f2c476;
    cursor: pointer;
  }

  .listMenu,
  .listMenu-bg {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 110px;
    top: 56px;
    align-items: flex-end;
    width: 140px;
    height: 90px;
    margin-top: 30px;
    background-color: #232323;
    gap: 5px;
  }

  .unactive,
  .r-unactive {
    display: none;
  }
}
