.text {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h1 {
    font-size: 56px;
}

.coba-para {
    font-size: 20px;
    font-weight: lighter;
}

.button {
    width: 180px;
    overflow: hidden;
    margin-top: 30px;
    background: none;
    color: #DCB472;
    border: 3px solid #DCB472;
    padding: 11px 30px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.4s;
}

.btn1:hover {
    color: white;
    background: #DCB472;
    transition: 0.8s;
    border-radius: 10px;
}

.kiri,
.kanan {
    cursor: pointer;
}

.gambar {
    height: 642px;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    position: relative;
    filter: brightness(50%);
}

.fix-posisi {
    margin-top: 55px;
}

#main-btn {
    background-color: white;
}

#npc-btn {
    background-color: rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 932px) {
    .gambar {
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        position: relative;
        filter: brightness(50%);
    }

    .text h1 {
        font-size: 20px;
    }

    .coba-para {
        font-size: 11px;
    }

    .button {
        margin-top: 30px;
        background: none;
        color: #DCB472;
        border: 3px solid #DCB472;
        padding: 6px 10px;
        border-radius: 10px;
        font-size: 14px;
        transition: 0.4s;
        width: 130px;
    }

    .btn1:hover {
        color: white;
        background: #DCB472;
        transition: 0.8s;
        border-radius: 10px;
    }
}