@import url("https://fonts.googleapis.com/css2?family=Forum&family=Poppins:ital,wght@0,300;0,600;1,500&display=swap");

.bottomAboutContainer {
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(34, 34, 34, 0.9) 0%,
      rgba(54, 49, 42, 0.9) 19.79%,
      rgba(82, 71, 53, 0.9) 40%,
      rgba(120, 103, 75, 0.9) 64.58%,
      rgba(242, 196, 118, 0.9) 100%
    ),
    url("../../assets/backdropBottomAbout.png"), lightgray 50%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bottomQuotesContainer {
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(34, 34, 34, 0.8) 0%,
      rgba(54, 49, 42, 0.8) 31.67%,
      rgba(82, 71, 53, 0.8) 62.4%,
      rgba(120, 103, 75, 0.8) 100%
    ),
    url("../../assets/interior-quotes.svg");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 470px;
  min-width: 1000px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.quotes {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 26px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.author {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.quotesContainer {
  max-width: 570px;
}

.buttonQuotes {
  color: #232323;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: rgba(242, 196, 118, 0.9);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.generatingQuote {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  .bottomQuotesContainer {
    min-width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .bottomQuotesContainer {
    min-width: 75%;
    min-height: 350px;
  }

  .quotes {
    font-size: 20px;
  }

  .author {
    font-size: 14px;
  }

  .quotesContainer {
    max-width: 400px;
  }

  .buttonQuotes {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .bottomQuotesContainer {
    min-width: 75%;
    min-height: 350px;
  }

  .maxQuotes {
    padding: 0 20px;
  }

  .quotes {
    font-size: 20px;
  }

  .author {
    font-size: 14px;
  }

  .quotesContainer {
    max-width: 250px;
  }

  .buttonQuotes {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .bottomQuotesContainer {
    min-width: 75%;
    min-height: 350px;
  }

  .quotes {
    font-size: 20px;
  }

  .author {
    font-size: 14px;
  }

  .quotesContainer {
    max-width: 250px;
  }

  .buttonQuotes {
    font-size: 10px;
  }
}
